<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<section>
  <div class="text-center">
    <div class="row">
      <div class="col-md-6 col-sm-2 col-sm-offset-3 col-xs-12">
        <h1 style="font-family: Amatic SC, cursive; font-size: 130px; color: #fff;">FlowerUs</h1>
        <div class="row">
          <p class="lead" style="text-decoration: none; font-size: 16px;">
          Your <b style="color: #93C54B;"> one-stop shop </b>for flowers extraordinaire!</p>
        </div>
      </div>
    </div>  
  </div>
</section>

<section data-ng-controller="HomeController" style="opacity: 0.85;">

  <div class="col-sm-12" id="below-navbar">
    <ul class="nav nav-tabs">
      <li role="presentation" ng-class="{ 'active' : hottestsorted}"><a href="#" ng-click="toggleClass(1);"><i>
       </i> Votes </a>
      </li>

      <li role="presentation " ng-class="{ 'active' : newestsorted}"><a href="#" ng-click="toggleClass(2);"><i>
        </i> Newest </a>
      </li>
    </ul>
  </div>

  <section data-ng-controller="ProductsController" data-ng-init="find()">
    <div class="col-lg-12 main-deals">

      <!--products Array Start-->
      <div class="list-group-home-deals">

        <div dir-paginate="product in products|orderBy:orderByField:!reverseSort|filter:{retailer:filterBy}|itemsPerPage:8"
          class="list-group-item">
          <div class="row">
            <div class="col-lg-2 left-box">

               <div class="row product-link link-button-home">
                <div class="btn-group-vertical hot-cold-buttons" role="group" aria-label="Vertical button group">

                  <!--Logged Out Buttons-->
                  <md-button aria-label="button" type="button" class=" vote-count-button">{{product.votes}}</md-button>

                  <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup" type="button"
                          class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>

                  <md-button aria-label="button" ng-hide="authentication.user" ui-sref="authentication.signup" type="button"
                          class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>

                  <!--Logged In Buttons-->
                  <md-button aria-label="button" ng-disabled="disableButtonUp(product)" ng-show="authentication.user" ng-click="upVoteHome(product); removeVotesDailyCall()" type="button"
                          class=" vote-up-button"><i class="glyphicon glyphicon-arrow-up"></i></md-button>

                  <md-button aria-label="button" ng-disabled="disableButtonDown(product)" ng-show="authentication.user" ng-click="downVoteHome(product)" type="button"
                          class="vote-down-button"><i class="glyphicon glyphicon-arrow-down  "></i></md-button>
                </div>
              </div>

            </div>

            <div class="col-lg-8 middle-box">

<div class="middle-title-top-two">
              <div class="col-lg-12 middle-title">
                <div class="col-lg-7">

                  <h4><b><a ng-href="/products/{{vm.product._id}}" ng-bind="vm.product.name"></a></b>
                  </h4>

                </div>
                <div class="col-lg-5">

                  <h4><b>Price:</b> $ {{vm.product.price}}
                  </h4>

                </div>

              </div>

              <div class="col-lg-12">
                <div class="col-lg-7 middle-title-brand">

                  <h4><a target="_blank" ng-href="{{product.retailer}}">{{vm.product.upc}}</a></h4>

                </div>
                <div class="col-lg-5 middle-title-country">

                  <h4><b>Description:</b> {{vm.product.description}}
                  </h4>

                </div>

              </div>

</div>
<div class="middle-title-bottom-one">
              <div class="col-lg-12 middle-title home-view-details">
                <div class="col-lg-7">

                  <h4><a ng-href="/products/{{vm.product._id}}" ng-bind="'View Details...'"></a></h4>

                </div>
                <div class="col-lg-5 middle-posted-by text-center">

                </div>
              </div>
</div>
            </div>

            <div class="col-lg-2 right-box">

              <div class="row deal-image thumbnail-preview center-block">

                <a ng-href="/products/{{vm.product._id}}">

                  <img class="home-product-image " src="{{product.urlimage}}"/>

                </a>
              </div>
            </div>
          </div>

        </div>

        <!-- END OF DEAL LIST -->
      </div>

      <!--products Array End-->
      <div class="alert alert-warning text-center" data-ng-hide="!products.$resolved || products.length">
        No products yet, why don't you <a href="/#!/products/create"><b>create one</b></a>?
      </div>

      <div class="text-center">
        <dir-pagination-controls></dir-pagination-controls>
      </div>

      <!--products Array End-->

    </div>
</section>
</section>