<section>
  <div class="page-header">
    <h1>Trendings</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="trending in vm.trendings"
       ui-sref="trendings.view({ trendingId: trending._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="trending.created | date:'mediumDate'"></span>
        by
        <span ng-if="trending.user" ng-bind="trending.user.displayName"></span>
        <span ng-if="!trending.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="trending.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.trendings.$resolved && !vm.trendings.length">
    No Trendings yet, why don't you <a ui-sref="trendings.create">create one</a>?
  </div>
</section>
